<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
		
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- JDBC 드라이버 클래스명 설정-->
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<!-- JDBC 접속 문자열 설정 -->
		<property name="url">
			<value>jdbc:oracle:thin:@192.168.85.100:1521:ORCL</value>
		</property>
		<!-- MySQL 유저ID 설정 -->
		<property name="username">
			<value>yyangel</value>
		</property>
		<!-- MySQL 패스워드 설정  -->
		<property name="password">
			<value>oracle</value>
		</property>
	</bean>
	
	<!-- Shop -->
	<!-- <bean id="shopService" class="logic.ShopImpl" p:itemCatalog-ref="itemCatalog"/> -->
	<bean id="shopService" class="logic.ShopImpl">
		<property name="itemCatalog">
			<ref bean="itemCatalog"/>
		</property>
		<property name="userCatalog">
			<ref bean="userCatalog"/>
		</property>
	</bean>
	
	
	<!-- ItemCatalog -->
	<bean id="itemCatalog" class="logic.ItemCatalogImpl" p:itemDao-ref="itemDao"/>
	
	<!-- ItemDao -->
	<bean id="itemDao" class="dao.ItemDaoImpl" p:dataSource-ref="dataSource"/>
	
	<!-- UserCatalog -->
	<bean id="userCatalog" class="logic.UserCatalogImpl">
		<property name="userDao">
			<ref bean="userDao"/>
		</property>
	</bean>
	
	<!-- UserDao -->
	<bean id="userDao" class="dao.UserDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
	</bean>
	
	<!-- Validator -->
	<bean id="loginValidator" class="utils.LoginValidator" />
	<bean id="userEntryValidator" class="utils.UserEntryValidator"/>
	
	<!-- MessageSource -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>
	</bean>
	
</beans>	